# Data Science Tools and Ecosystems

## In this notebook, Data Science Tools and Ecosystems are summarized.

**Objectives**
- Languages of Data Science
- Introduction to Python
- Introduction to SQL
- Libraries to Data Science
- Get Started with Jupyter notebook

## Some of the popular languages that Data Science use are:
1. Python
2. R
3. SQL

# Some of the commonly used libraries used by Data Scientists include:
1. Panda
2. Numpy
3. Matplotlib

|Data Science Tools|
|------------------|
|RStudio|
|Apache Spark|
|TensorFlow|

### Below are a few evaluating arithmetic expressions in Python

#### This a simple arithmetic expression to multiply the add integers
equasion is: (3*4)+5

In [1]:
(3*4)

12

In [2]:
12+5

17

200 minutes into hours
 This will convert 200 minutes into hours by diving by 60

In [3]:
200/60

3.3333333333333335

## Author
Sara Fukuda